
<section class="about-us container" id="about-us">
    <div class="text-about-us">
    <h2 class="about-us-title-h">About Us</h2>
    <ul class="text-description-ul">
            <li class="text-description-li">
                <p>The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life with new zest and style.
                Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of traditional
                needlework and modern design.</p>
            </li>
            <li class="text-description-li">
                <p>In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern, corresponding to the latest
                fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen who convey
                the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol of
                national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery from
                "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
            </li>
        </ul>
    </div>
    <img class="about-us-main-img" 
        srcset="./img/desktop/d-girl-and-boy.jpg 594w,
                ./img/desktop/d-girl-and-boy@2x.jpg 1188w,
                ./img/tablet/t-girl-and-boy.jpg 704w,
                ./img/tablet/t-girl-and-boy@2x.jpg 1408w,
                ./img/mobil/m-girl-and-boy.jpg 335w,
                ./img/mobil/m-girl-and-boy@2x.jpg 670w" 
        sizes="(min-width: 1280px) 594px,
               (min-width: 768px) 704px,
               (min-width: 375px) 335px" 
        src="./img/desktop/d-girl-and-boy.jpg" 
        alt="фото красивої вишиванки">
</section>