<footer class="site_footer">
    <div class="navigation">
        <ul class="navigation_list">
            <li class="navigation_link"><a href="#">About us</a></li>
            <li class="navigation_link"><a href="#">CUSTOMER ORDER</a></li>
            <li class="navigation_link"><a href="#">Our collection</a></li>
            <li class="navigation_link"><a href="#">Testimonials</a></li>
        </ul>
    </div>
    <div class="footer_paragraf">
        <p class="footer_text">A touch of <span class="highlight">Ukrainian</span> culture in every embroidery</p>
    </div>
</footer>