<footer class="site_footer container">
    <div class="navigation">
        <ul class="navigation_list">
            <li class="navigation_link"><a href="#about-us" class="footer-link">About us</a></li>
            <li class="navigation_link" ><a href="#order" class="footer-link">CUSTOMER ORDER</a></li>
            <li class="navigation_link" ><a href="#our-collection" class="footer-link">Our collection</a></li>
            <li class="navigation_link" ><a href="#testimonials" class="footer-link">Testimonials</a></li>
        </ul>
    </div>
    <div class="footer_paragraf">
        <p class="footer_text">A touch of <span class="highlight">Ukrainian</span> culture in every embroidery</p>
    </div>
</footer>