<header class="header">
    <div class="page-header container">
        <nav>
            <img class="logotype" src="./icons/logo.svg" alt="web logo" width="44" height="39">
        </nav>
        <div class="social-networks">
            <ul class="social-list">
                <li class="social-item">
                    <a class="link-social-header" href="https://www.facebook.com/goITclub/">
                        <svg class="icon-social-header" width="28" height="28">
                            <use href="./icons/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="link-social-header" href="https://www.instagram.com/goitclub/">
                        <svg class="icon-social-header" width="28" height="28">
                            <use href="./icons/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="link-social-header" href="https://www.youtube.com/c/GoIT">
                        <svg class="icon-social-header" width="28" height="28">
                            <use href="./icons/sprite.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <button class="open-mobile-menu" type="button">
            <svg class="burger-icon" width="36" height="24">
                <use href="./icons/sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
    <!-- MOBILE-MENU -->
    <div class="mobile-menu">
        <div class="mobile-menu-container">
            <div class="container-contact">
                <ul class="address-mobile-list">
                    <li>
                        <a class="address-link-mobile" href="tel+380684439426"><span class="address-mobile-span">+380
                                (68) 443-94-26</span></a>
                    </li>
                </ul>
                <button class="mobile-menu-cls-btn" type="button">
                    <svg class="mobile-menu-cls-icon" width="36" height="36">
                        <use href="../icons/sprite.svg#icon-x" width="36" height="36"></use>
                    </svg>
                </button>
            </div>
            <ul class="mobile-menu-list">
                <li>
                    <a href="" class="mobile-menu-link">ABOUT US</a>
                </li>
                <li>
                    <a href="" class="mobile-menu-link">OUR COLLECTION</a>
                </li>
                <li>
                    <a href="" class="mobile-menu-link">CUSTOMER ORDER</a>
                </li>
                <li>
                    <a href="" class="mobile-menu-link">TESTIMONIALS</a>
                </li>
            </ul>
        </div>
    </div>
</header>