<header class="header">
    <div class="page-header container">
        <nav class="navigation">
            <img class="logotype" src="../icons/logo.svg" alt="web logo" width="44" height="39">
        </nav>
        <div class="social-networks">
            <ul class="social-list">
                <li class="social-item">
                    <a class="link-social-header" href="https://www.facebook.com/goITclub/">
                        <svg class="icon-social-header" width="28" height="28">
                            <use href="../icons/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="link-social-header" href="https://www.instagram.com/goitclub/">
                        <svg class="icon-social-header" width="28" height="28">
                            <use href="../icons/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="link-social-header" href="https://www.youtube.com/c/GoIT">
                        <svg class="icon-social-header" width="28" height="28">
                            <use href="../icons/sprite.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="open-mobile-menu" type="button">
                <svg class="burger-icon" width="36" height="24">
                    <use href="../icons/sprite.svg#icon-burger"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
