<section class="hero-section section">
  <div class="container">
    <div class="reverse-box">
      <div class="main-and-button">
        <h1 class="main-text">
          Reviving the traditional
          <span class="akcent">Ukrainian</span> artistry in every stitch.
        </h1>

        <button type="button" class="hero-button" id="Your order">
          Order
          <svg class="order-icon">
            <use href="../icons/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <img
        class="girl-in-gray"
        srcset="
          ./img/mobil/m-girl-in-gray.jpg      335w,
          ./img/tablet/t-girl-in-gray.jpg     413w,
          ./img/desktop/d-girl-in-gray.jpg    392w,
          ./img/mobil/m-girl-in-gray@2x.jpg   670w,
          ./img/tablet/t-girl-in-gray@2x.jpg  826w,
          ./img/desktop/d-girl-in-gray@2x.jpg 784w
        "
        sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src="./img/mobil/m-girl-in-gray.jpg"
        alt="girl in grey blouse"
      />
    </div>
    <div class="star-hand-map">
      <div class="star-and-hand">
        <svg class="star-icon" width="52" height="51">
          <use href="./icons/sprite.svg#star"></use>
        </svg>
        <p class="hero-text">all embroidery is made by hand</p>
      </div>
      <img
        class="map-egg"
        srcset="
          ./img/tablet/t-map-of-ukraine.jpg    139w,
          ./img/tablet/t-map-of-ukraine@2x.jpg 278w
        "
        sizes="(min-width: 768px) 157px"
        src="./img/tablet/t-map-of-ukraine.jpg"
        alt="map of ukraine"
      />
    </div>
  </div>
</section>
