<div class="container our-collection-container">
    <h2 class="title_collection">Our collection</h2>
    <ul class="list-collection">
        <li class="about_collection">
            <div class="backgraund"></div>
            <img 
               class="collection-photo collection-position" 
               srcset="./img/mobil/m-women-poltava.jpg 335w,
                       ./img/mobil/m-women-poltava@2x.jpg 670w,
                       ./img/tablet/t-women-poltava.jpg 342w,
                       ./img/tablet/t-women-poltava@2x.jpg 684w,
                       ./img/desktop/d-women-poltava@2x.jpg 694w "
                sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 375px) 335px"
                 src="./img/desktop/d-women-poltava.jpg"
                  alt="Poltava women's blouse" width="347">
                     <h3 class="second-title-collection second-title-collection-cont">AUGUST Poltava women's blouseRING</h3>
                         <p class="collection-price">3300 UAH</p>
        </li>
        <li class="about_collection">
             <img             
               class="collection-photo" 
                 srcset="./img/mobil/m-women-gorgany.jpg 335w,
                         ./img/mobil/m-women-gorgany@2x.jpg 670w,
                         ./img/tablet/t-women-gorgany.jpg 342w,
                         ./img/tablet/t-women-gorgany@2x.jpg 684w,
                         ./img/desktop/d-women-gorgany@2x.jpg 694w"
                 sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 375px) 335px"
                 src="./img/desktop/d-women-gorgany.jpg" alt="Gorgany women's blouse" width="347">
                     <h3 class="second-title-collection">Women's blouse Gorgany</h3>
                         <p class="collection-price">3350 UAH</p>
        </li>
        <li class="about_collection">
             <img 
              class="collection-photo" 
                 srcset="./img/mobil/m-women-crimea.jpg 335w,
                         ./img/mobil/m-women-crimea@2x.jpg 670w,
                         ./img/tablet/t-women-crimea.jpg 342w,
                         ./img/tablet/t-women-crimea@2x.jpg 684w,
                         ./img/desktop/d-women-crimea@2x.jpg 694w"
                 sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 375px) 335px"
                 src="./img/desktop/d-women-crimea.jpg" alt="Women's blouse Crimea" width="347" >
                     <h3 class="second-title-collection">Women's blouse Crimea</h3>
                         <p class="collection-price">4000 UAH</p>
        </li>
        <li class="about_collection">
             <img 
               class="collection-photo" 
                 srcset="./img/mobil/m-man-verkhovina.jpg 335w,
                         ./img/mobil/m-man-verkhovina@2x.jpg 670w,
                         ./img/tablet/t-man-verkhovina.jpg 342w,
                         ./img/tablet/t-man-verkhovina@2x.jpg 684w,
                         ./img/desktop/d-man-verkhovina@2x.jpg 694w"
                 sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 375px) 335px"
                  src="./img/desktop/d-man-verkhovina.jpg" alt="Men's shirt Verkhovina" width="347">
                     <h3 class="second-title-collection">Men's shirt Verkhovina</h3>
                         <p class="collection-price">3100 UAH</p>
        </li>
        <li class="about_collection">
              <img 
               class="collection-photo" 
                  srcset="./img/mobil/m-man-mountain.jpg 335w,
                          ./img/mobil/m-man-mountain@2x.jpg 670w,
                          ./img/tablet/t-man-mountain.jpg 342w,
                          ./img/tablet/t-man-mountain@2x.jpg 684w,
                          ./img/desktop/d-man-mountain@2x.jpg 694w "
                  sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 375px) 335px"
                  src="./img/desktop/d-man-mountain.jpg" alt="Mountain men's shirt" width="347">
                     <h3 class="second-title-collection">Mountain men's shirt</h3>
                         <p class="collection-price">3300 UAH</p>
        </li>
        <li class="about_collection">
             <img 
             class="collection-photo" 
                 srcset="./img/mobil/m-man-yasen.jpg 335w,
                        ./img/mobil/m-man-yasen@2x.jpg 670w,
                        ./img/tablet/t-man-yasen.jpg 342w,
                        ./img/tablet/t-man-yasen@2x.jpg 684w,
                        ./img/desktop/d-man-yasen@2x.jpg 694w"
                 sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 375px) 335px"
                 src="./img/desktop/d-man-yasen.jpg" alt="Men's shirt Yasen" width="347">
                     <h3 class="second-title-collection">Men's shirt Yasen</h3>
                         <p class="collection-price">1700 UAH</p>
        </li>
    </ul>
</div>