


<section class="testimonials" id="testimonials">
    <div class="testimonials-container container">
        <h2 class="testimonials--title">Testimonials</h2>
        <div class="testimonials--reviews">
            <ul class="testimonials--list">
                <li class="testimonials--clients">
                    <img class="testimonials--foto" 
                    srcset="./img/desktop/d-testimonials-tkachuk@2x.png 128w,
                     ./img/desktop/d-testimonials-tkachuk.png 64w"
                     sizes="(min-width: 1280px) 64px, (min-width: 768px) 64px, (max-width: 767px) 64px"
                    src="./img/desktop/d-testimonials-chatuk.png"
                        alt="Maria Tkachuk" width="64" height="64">
                    <div class="testimonials--content">
                        <h3 class="testimonials--titel--text">Maria Tkachuk</h3>
                        <p class="testimonials--text">
                            I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka Vibes. They
                            have models for every taste -
                            from classic to modern. I bought an embroidered dress to celebrate a special occasion and
                            received impeccable service
                            and refinement in every detail.
                        </p>
                    </div>
                </li>
                <li class="testimonials--clients">
                    <img class="testimonials--foto" 
                
                    srcset="./img/desktop/d-testimonials-rybachok@2x.png 128w,
                     ./img/desktop/d-testimonials-rybachok.png 64w"
                     sizes="(min-width: 1280px) 64px, (min-width: 768px) 64px, (max-width: 767px) 64px"
                    src="./img/desktop/d-testimonials-rybachok.png"
                        alt="Sergey Rybachok" width="64" height="64">
                    <div class="testimonials--content">
                        <h3 class="testimonials--titel--text">Sergey Rybachok</h3>
                        <p class="testimonials--text">
                            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply masterpieces! I
                            fell in love with the quality
                            of the materials and the skill of the artisans behind each product. This is my favorite
                            embroidery shop where I always
                            find something special and unique.
                        </p>
                    </div>
                </li>
                <li class="testimonials--clients">
                    <img class="testimonials--foto"
                    srcset="/img/desktop/d-testimonials-chatuk@2x.png 128w,
                     ./img/desktop/d-testimonials-chatuk.png 64w"
                     sizes="(min-width: 1280px) 64px, (min-width: 768px) 64px, (max-width: 767px) 64px"
                    src="./img/desktop/d-testimonials-tkachuk.png"
                        alt="Natalia Chatuk" width="64" height="64">
                    <div class="testimonials--content">
                        <h3 class="testimonials--titel--text">Natalia Chatuk</h3>
                        <p class="testimonials--text">
                            Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture. Their
                            embroidery reflects the spirit and
                            traditions of our people. I not only buy embroidered shirts for myself but also give them to
                            my friends abroad as a
                            symbol of our beauty and national pride.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
