.about-us {
    background-repeat: no-repeat;
    background-position: right bottom;
}
.hero-button{
    width: 168px;
}

@media screen and (min-width:375px), 
    (min-width:320px) and (max-width:374px) {
    .about-us {
        padding-bottom: 64px;
        margin: 0 auto;
        background-image: url('../img/mobil/bg/m-about-us-ornament.png');
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:375px),
screen and (min-resolution: 2dppx) and (min-width:375px),
screen and (min-device-pixel-ratio: 2) and (min-width:375px) {
    .about-us {
        background-image: url('../img/mobil/bg/m-about-us-ornament@2x.png');
        background-size: 250px 408px;
    }
}

@media screen and (min-width:768px) {
    .about-us {
        padding-bottom: 50px;
        margin: 0 auto;
        background-image: url('../img/tablet/bg/t-about-us-ornament.png');
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px),
screen and (min-device-pixel-ratio: 2) and (min-width:768px) {
    .about-us {
        background-image: url('../img/tablet/bg/t-about-us-ornament@2x.png');
        background-size: 369px 484px;
    }
}

@media screen and (min-width:1280px) {
    .about-us {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding-bottom: 80px;
        margin: 0 auto;
        align-items: center;
        background-image: url('../img/desktop/bg/d-about-us-ornament.png');
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:1280px),
screen and (min-resolution: 2dppx) and (min-width:1280px),
screen and (min-device-pixel-ratio: 2) and (min-width:1280px) {
    .about-us {
        background-image: url('../img/desktop/bg/d-about-us-ornament@2x.png');
        background-size: 385px 484px;
    }
}

.about-us-title-h {
    color: var(--white, #FCF9F9);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.03em;
}

@media screen and (min-width: 375px) {
    .about-us-title-h {
        font-size: 32px;
        line-height: 1.38;
    }
}

@media screen and (min-width: 768px) {
    .about-us-title-h {
        font-size: 44px;
        line-height: 1.45;
    }
}

.text-description-li {
    color: rgba(252, 249, 249, 0.40);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
}

@media screen and (min-width: 375px) {
    .text-description-li {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .text-description-li {
        font-size: 16px;
    }
}

.text-description-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-about-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1280px) {
    .text-about-us {
        width: 436px;
    }
}

