/* MOBILE-MENU */
/* MOBILE FIRST */

.mobile-menu {
    display: flex;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #ECD979;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999999999999999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    transform: translateX(100%);
    transition: transform 265ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
    transition: transform 265ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .mobile-menu {
        background-image: url(../img/mobil/bg/m-menu-ornament.png);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
    .mobile-menu {
        background-image: url(../img/mobil/bg/m-menu-ornament@2x.png);
    }

}

.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.mobile-menu-cls-btn {
    width: 36px;
    height: 36px;
    border: none;
    top: 21px;
    right: 20px;
    margin: 0;
    line-height: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mobile-menu-cls-icon {
    stroke: #1c2225;
    transition: stroke 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-cls-icon:hover,
.mobile-menu-cls-icon:focus {
    stroke: #fcf9f9;
}

.mobile-menu-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.container-contact {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}


.address-link-mobile {
    display: flex;
    width: 158px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.10);
}


.address-mobile-span {
    font-size: 12px;
    line-height: 1.1;
    /* 116.667% */
    transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mobile-span:hover,
.address-mobile-span:focus {
    color: #fcf9f9;
}

.mobile-menu-list {
    margin-top: 187px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
}

.mobile-menu-link {
    font-size: 14px;
    line-height: 1.5;
    transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1), font-size 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #fcf9f9;
    font-size: 18px;
}


/* TABLET */

@media screen and (min-width: 768px) {
    .mobile-menu {
        background-image: url(../img/tablet/bg/t-menu-ornament.png);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .mobile-menu {
        background-image: url(../img/tablet/bg/t-menu-ornament@2x.png);
    }
}

@media screen and (min-width: 768px) {


    .mobile-menu-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .container-contact {
        gap: 79px;
    }
}

@media screen and (min-width: 1280px) {
    .mobile-menu {
        display: none;
    }
}

/* HEADER */
/* MOBILE-FIRST */

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logotype {
    margin-right: 87px;
}

.social-networks {
    display: flex;
    gap: 12px;
}

.social-list {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-right: 12px;
}

.social-item {
    width: 44px;
    height: 44px;
}

.link-social-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: rgba(252, 249, 249, 0.10);
    transition: background-color 240ms cubic-bezier(0.4, 0, 0.2, 1), border-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-header:hover,
.link-social-header:focus {
    background-color: transparent;
    border-color: #ECD979;
}

.icon-social-header {
    fill: var(--color2, #fcf9f9);
}

.open-mobile-menu {
    display: flex;
    padding: 0;
    align-content: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.burger-icon {
    stroke: #ECD979;
    transition: stroke 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-icon:hover,
.burger-icon:focus {
    stroke: #fcf9f9;
}

/* TABLET */

@media screen and (min-width: 768px) {
    .logotype {
        margin-right: 440px;
    }

    .social-list {
        margin-right: 20px;
    }
}


@media screen and (min-width: 320px) and (max-width: 1279px){
    .header-nav-desk{
        display: none;
    }
}



@media screen and (min-width: 1280px){
    .burger-icon{
        display: none;
    }

    .page-header{
       
        align-items: center;
        justify-content: none;
        gap: 0;
    }
    .header-nav-list{
        align-items: center;
        justify-content: center;
        
        display: flex;
        gap: 25px;
        margin-right: 129px;
        justify-content: baseline;
        min-width: 479px;
    }
    .header-nav-link {
        color: var(--white, #FCF9F9);
    
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
            /* 128.571% */
        text-transform: uppercase;
        transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .header-nav-link:focus,
                .header-nav-link:hover{
                    color: #ECD979;
                }
    
    .header-tel {
        color: var(--white, #FCF9F9);
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
        text-transform: uppercase;
        display: flex;
        padding: 14px 28px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        border: 1px solid rgba(252, 249, 249, 0.10);
        width: 195px;
        margin-right: 20px;
        transition: border 240ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-tel:focus,
    .header-tel:hover{
        border: 1px solid #ECD979;
    }
        .header-nav-desk {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        

    .logotype{
        margin-right: 60px;
    }
}