.testimonials--list {
    display: flex;
    /* position: relative; */
}

.testimonials-container {
    padding-bottom: 80px;
}

.testimonials--title {
    margin-bottom: 64px;
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375;
    /* 137.5% */
    letter-spacing: -0.03em;
}

/* .testimonials--clients {
    position: relative;
} */
/* .testimonials--foto{
    position: absolute;
    top: 0;
    
} */
.testimonials--clients{
    position: relative;
}

.testimonials--foto{
    position: absolute;
    top: -86px;
    left: 50%;
    transform: translateX(-50%);

}
.testimonials--titel--text {
    color: var(--white, #FCF9F9);
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    /* 150% */
    /* margin-top: 46px; */
    margin-bottom: 8px;
}

.testimonials--text {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



@media (max-width: 767px) {
    .testimonials--list {
        width: 335px;
        padding: 54px 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10);
    }

    .testimonials--list .testimonials--clients:nth-child(n+2) {
        display: none;
    }
    
}

/* Стилі для планшетних пристроїв */
@media (min-width: 768px) and (max-width: 1279px) {
    .testimonials-container {
        padding-bottom: 100px;
    }

    .testimonials--list {
        gap: 32px;
    }

    .testimonials--list .testimonials--clients:nth-child(3) {
        display: none;
    }

    .testimonials--clients {
        width: 336px;
        padding: 54px 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10);
    }

    .testimonials--title {
        color: var(--white, #FCF9F9);
        font-family: Manrope;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45;
        /* 145.455% */
        letter-spacing: -0.03em;
    }

        .testimonials--clients {
            position: relative;
        }
        .testimonials--foto {
            position: absolute;
            top: -32px;
            left: 50%;
            transform: translateX(-50%);
    
        }
}

@media screen and (min-width: 1280px) {
    .testimonials-container {
        padding-bottom: 150px;
    }

    .testimonials--list {
        gap: 26px;
    }

    .testimonials--clients {
        width: 343px;
        padding: 54px 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10);
    }

    .testimonials--title {
        color: var(--white, #FCF9F9);
        font-family: Manrope;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45;
        /* 145.455% */
        letter-spacing: -0.03em;
    }
        .testimonials--clients {
            position: relative;
        }
        .testimonials--foto {
            position: absolute;
            top: -32px;
            left: 50%;
            transform: translateX(-50%);
    
        }
}

